@inherits LayoutComponentBase

<PageTitle>eTickets Shop</PageTitle>

<header>
    <NavMenu />
</header>
<div class="container-fluid">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>
